@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif

}
body{
    background-color:#9AEBA3;
}

main{
    background-image:linear-gradient(to bottom,#13678A,#45C4B0);
    display:flex;
    height:1000px;
    margin:auto;
    border-radius:10px;
    width:800px;
    box-shadow:10px 10px 15px #105572a9;
    padding:10px;
    text-align:center;

}
 h1{
    color:#45C4B0;
    text-align:center;
 }
 h2{
    color:#9aeba3c4;
 }

 p{
    text-align:justify;
 }